.body {
    display: block;
    font-size: 1.125em;
    line-height: 1.2;
    padding-left: 0;
    padding-right: 0;
    margin: 0 5pt
    }
.bs {
    border-bottom-color: rgb(0, 0, 0);
    border-left-color: rgb(0, 0, 0);
    border-right-color: rgb(0, 0, 0);
    border-top-color: rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    display: block;
    font-size: 0.66667em;
    font-weight: normal;
    text-align: left;
    text-indent: 10pt
    }
.bs1 {
    border-bottom-color: rgb(0, 0, 0);
    border-left-color: rgb(0, 0, 0);
    border-right-color: rgb(0, 0, 0);
    border-top-color: rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    display: block;
    font-size: 0.88889em;
    font-weight: normal;
    text-align: left;
    text-indent: 10pt
    }
.bs2 {
    border-bottom-color: rgb(0, 0, 0);
    border-left-color: rgb(0, 0, 0);
    border-right-color: rgb(0, 0, 0);
    border-top-color: rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    display: block;
    font-size: 0.88889em;
    font-weight: normal;
    text-align: center;
    text-indent: 10pt
    }
.bs3 {
    border-bottom-color: rgb(0, 0, 0);
    border-left-color: rgb(0, 0, 0);
    border-right-color: rgb(0, 0, 0);
    border-top-color: rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    display: block;
    font-size: 0.88889em;
    font-weight: normal;
    text-align: center;
    text-indent: 18pt
    }
.bs4 {
    border-bottom-color: rgb(0, 0, 0);
    border-left-color: rgb(0, 0, 0);
    border-right-color: rgb(0, 0, 0);
    border-top-color: rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    display: block;
    font-size: 0.88889em;
    font-weight: normal;
    text-align: left;
    text-indent: 18pt
    }
.bs5 {
    border-bottom-color: rgb(0, 0, 0);
    border-left-color: rgb(0, 0, 0);
    border-right-color: rgb(0, 0, 0);
    border-top-color: rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    display: block;
    font-size: 0.88889em;
    font-weight: normal;
    text-align: right;
    text-indent: 10pt
    }
.calibre {
    display: block
    }
.calibre1 {
    display: block;
    margin: 1em 0
    }
.calibre2 {
    font-style: italic
    }
.ts {
    font-weight: bold
    }
